body {
    font-family: 'Noto Sans KR';
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-style: normal;
    height: 91px;
    padding: 0 20px;
}
.logo {
    font-weight: 500;
    font-size: 24px;
    color: rgba(23, 162, 184, 0.7);
    width: 330px;
}

.nav-link {
    width: 110px;
    text-align: center;
    border-bottom: 6px solid transparent;
    padding-bottom: 10px;
    font-weight: 400;
    font-size: 18px;
}
.nav-link:active, .nav-link:hover, .active {
    border-bottom:  6px solid rgba(23, 162, 184, 0.5);
}
